input[type="checkbox"] {
    display: none; /* label でコントロールするので input は非表示に */
}

.popup-open {
    cursor: pointer; /* マウスオーバーでカーソルの形状を変える */
}

.popup-overlay {
    display: none; /* input にチェックが入るまでは非表示に */
}

input[type="checkbox"]:checked ~ .popup-overlay {
    display: block;
    z-index: 99999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup-window {
    width: 90vw;
    max-width: 560px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5em solid #000000;
}

.news-mane {
    margin: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.news-mane:not(:last-of-type) {
    margin-bottom: 1em;
}

.popup-close {
    cursor: pointer;
    margin-bottom: 1px;
    position: absolute;
    top: -26px;
    right: 0;
}