/* 全体のスタイル */
body {
    font-family:'Arial', sans-serif;
    line-height: 1.6;
    background-color: #FFFCF7;
    color: #000;
}

/* タイトルのスタイル */
.section-title{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin: 0 0 0.8em;
    border-left: solid 1px #000;
    text-indent: 10px;
}

/* サブタイトルのスタイル */
h3 {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0 0 1.5em;
    padding: 0.5em 0;
    font-size: 1.5em;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    text-indent: 30px;
}

/* ヘッダー */
header {
    background-color: #ffffff;
}

/* ナビゲーションのスタイル */
.navbar-nav{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s ease;
    color: #2D6A4F;
}
/* FlexBoxの設定 */
.nav-fill{
    display: flex; /* フレックスボックスを有効化 */
    justify-content: space-around; /* 等間隔で配置 */
    align-items: center; /* 垂直方向に中央揃え */
    padding:0; /* 不要な余白を削除 */
}
.nav-link{
    padding: 0.5em 3em;
    color: #2D6A4F;
}
.nav-link:hover{
    color: #1B4D3E;;
}
/* 元の色を維持 */
.nav-link:focus,
.nav-link:active {
    color: #2D6A4F; 
    text-decoration: none; 
    outline: none; 
}
/* ナビのフォント */
.nav-link{
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
}

/* トップ画像 */
#top-image img {
    width: 100%;
    height: auto;
    display: block;
}


/* NEWSセクション */
#news {
    background-color: #FFFCF7;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

/* ニュースリストの枠組み */
.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ニュースリストの各アイテム */
.news-item {
    background-color: #f8f9fa;
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* ダミーテキスト */
.news-item p {
    margin: 0;
    font-size: 1em;
}


/* ABOUTセクション */
/* セクションの枠組み */
#about {
    background-color: #E4F0D0; /* 背景色を白に */
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

/* テキストのFlexBox */
.about-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

/* 店内写真 */
.about-img img {
    width: 100%;
    max-width: 300px;
    height: 500px;
    object-fit: cover; /* 画像の比率を維持 */
    border-radius: 10px;
}

/* 画像とテキストのレイアウトを保つ */
.info{
    display: flex;
    flex-direction: column; /* 縦並びに配置 */
    gap: 15px; /* 要素間のスペース */
    flex: 1; /* 残りのスペースを占有 */
}

/* 店舗紹介のレイアウト */
div.about-text {
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
    margin: 1em 0;
    margin-bottom: 0;
    font-size: 0.9em;
}

/* 店舗情報のレイアウト */
div.about-info {
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
    margin: 0 0 1em 0;
    border-left: solid 1px #000;
}
.about-info p{
    margin-bottom: 0.5em;
    padding-left: 10px;
}
.about-info span{
    margin-left: 1em;
}
/* 電話番号のレイアウト */
p.info-tal{
    font-size: 30px;
    font-weight: 400;
}
span.info-tel{
    margin-left: 5em;
}
/* 営業時間のレイアウト */
span.info-time{
    margin-left: 1em;
}
/* 定休日のレイアウト */
span.info-holl{
    margin-left: 2em;
}
/* 駐車場のレイアウト */
span.info-per{
    margin-left: 2em;
}
/* 住所のレイアウト */
span.info-st{
    font-size: 0.8em;
    margin-left: 4em;
}

/* LINEリンクのスタイル */
.linelink {
    display: flex; /* Flexboxを有効化 */
    align-items: center; /* 垂直方向を中央揃え */
    gap: 10px; /* 要素間のスペースを設定 */
}
.linelink p{
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    margin: 0;
    margin-left: 40px;
}
/* ボタンのレイアウト */
.linelink button {
    margin-left: 40px;
    background-color: #47e40e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
a.linelink{
    text-decoration: none;
    color: #fff;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 600;
    font-style: bold;
}

/* MENUセクション */
#menu {
    background-color: #E4F0D0;
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
}
/* MENUテキスト */
p.menu-text{
    font-family: 'Noto Serif', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
}
/* ダミーボックス */
.menu-item {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* ACCESSセクション */
#access {
    background-color: #E4F0D0; /* 背景色を白に */
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
}


.googlemap iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

/* フッター */
/* フッターテキストのレイアウト */
#footer{
    background-color: #738290;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
}
#footer div.info p{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
    margin-left: 1em;
    font-size: 70%;
    margin-bottom: 0;
}
#footer div.info{
    margin-left: 0.5em;
    margin-bottom: 2em;
    border-left: solid 1px;
}

/* テキストの詳細設定 */
#footer span.info1{
    margin-left: 3em;
}
#footer span.info2{
    margin-left: 1em;
}
#footer span.info3{
    margin-left: 3em;
}

/* ボタンのレイアウト */
#footer button {
    background-color: #47e40e00;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}