@charset "UTF-8";

/* 全体のスタイル */
body {
    font-family:'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fff8eb;
    color: #000;
}
.section-title{ /* タイトルのスタイル */
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin: 0 0 0.8em;
    border-left: solid 1px #000;
    text-indent: 10px;
}
h3 {    /* サブタイトルのスタイル */
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0 0 1.5em;
    padding: 0.5em 0;
    font-size: 1.5em;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    text-indent: 30px;
}


/* ヘッダー */
/* ヘッダーを追従させる */
header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: #ffffff;
}
/* ナビゲーションのスタイル */
#header.navbar-nav{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1em;
}
a.nav-link{
    margin-top: 0.5em;
    color: #2D6A4F;
}
a.nav-link:hover{
    color: #1B4D3E;;
}
/* 元の色を維持 */
a.nav-link:focus,
a.nav-link:active {
    color: #2D6A4F; 
    text-decoration: none; 
    outline: none; 
}
/* ナビのフォント */
a.nav-link{
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
}

/* トップ画像 */
#top-image img{
    width: 100%;
    height: auto;
}
/* スマホ表示用 */
#top-imagePh img{
    display: none;
}


/* NEWSセクション */
#news {
    background-color: #fff8eb;
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

/* ニュースリストの枠組み */
.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ニュースリストの各アイテム */
.news-item {
    background-color: #f8f9fa;
    padding: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
}

.news-item {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

p.news-day {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    margin: 0;
    font-style: normal;
    text-align: left;
    white-space: nowrap;
    flex-shrink: 0; /* 幅が狭くならないようにする */
}

p.news-name {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 0;
    font-size: 1em;
    position: absolute; 
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: max-content;
}



/* ABOUTセクション */
/* セクションの枠組み */
#about {
    background-color: #E4F0D0; /* 背景色を白に */
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

/* テキストのFlexBox */
.about-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

/* 店内写真 */
.about-img img {
    width: 100%;
    max-width: 300px;
    height: 500px;
    object-fit: cover; /* 画像の比率を維持 */
    border-radius: 10px;
}

/* 画像とテキストのレイアウトを保つ */
.info{
    display: flex;
    flex-direction: column; /* 縦並びに配置 */
    gap: 15px; /* 要素間のスペース */
    flex: 1; /* 残りのスペースを占有 */
}

/* 店舗紹介のレイアウト */
div.about-text {
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
    margin: 1em 0;
    margin-bottom: 0;
    font-size: 0.9em;
}

/* 店舗情報のレイアウト */
div.about-info {
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
    margin: 0 0 1em 0;
    border-left: solid 1px #000;
}
.about-info p{
    margin-bottom: 0.5em;
    padding-left: 10px;
}
.about-info span{
    margin-left: 1em;
}
/* 電話番号のレイアウト */
p.info-tal{
    font-size: 30px;
    font-weight: 400;
}
span.info-tel{
    margin-left: 5em;
}
/* 営業時間のレイアウト */
span.info-time{
    margin-left: 1em;
}
/* 定休日のレイアウト */
span.info-holl{
    margin-left: 2em;
}
/* 駐車場のレイアウト */
span.info-per{
    margin-left: 2em;
}
/* 住所のレイアウト */
span.info-st{
    font-size: 0.8em;
    margin-left: 4em;
}

/* LINEリンクのスタイル */
.linelink {
    display: flex; /* Flexboxを有効化 */
    align-items: center; /* 垂直方向を中央揃え */
    gap: 10px; /* 要素間のスペースを設定 */
}
.linelink p{
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    margin: 0;
    margin-left: 1em;
}
/* ボタンのレイアウト */
.linelink button {
    margin-left: 40px;
    background-color: #47e40e;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
a.linelink{
    text-decoration: none;
    color: #fff;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 600;
    font-style: bold;
}

/* MENUセクション */
#menu {
    background-color: #E4F0D0;
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
}
/* MENUテキスト */
p.menu-text{
    font-family: 'Noto Serif', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
}

/* デスクトップ用画像を表示 */
img.desktop-image {
    display: flex;
    margin: auto;
    justify-items: center;
    width: 100%;
}
img.mobile-image {
    display: none;
}

/* ACCESSセクション */
#access {
    background-color: #E4F0D0; /* 背景色を白に */
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
}


.googlemap iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

/* フッター */
/* フッターテキストのレイアウト */
#footer{
    background-color: #738290;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-variation-settings:"wdth" 100;
}
#footer .info{
    width: 100%;
    max-width: 544px;
    margin: auto;
    margin-left: 0;
    padding: 0 1.5rem;
    padding-left:0.5rem ;
    border-spacing: 0;
    text-align: left;
    border-left: 1px solid #fff;
}
.info th{
    text-align: left;
    padding: 0.5rem;
}
.info td{
    padding: 0.5rem 0;
}
.info th,
.info td{
    font-size: 80%;
    font-weight: normal;
}

/* ボタンのレイアウト */
#footer button {
    background-color: #738290;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

/* SNSリンクのスタイル */
#footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}
/* SNSリンクのアイコンカラー */
.white-color {
    color: #fff;
}
.white-color:hover {
    color: #99d98c;
}

/* メディアクエリの設定 */
@media (max-width: 768px) {
    /* ヘッダーの調整 */
    .nav-fill {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    a.nav-link {
        padding: 10px 20px;
        margin-top: 1em;
        font-size: 70%;
    }

    /* トップ画像の調整 */
    #top-image img{
       display: none;
    }
    #top-imagePh img{
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    /* ABOUTの調整 */
    /* LINEリンクを縦並びに */
    div.linelink {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* LINEリンクのボタン設定 */
    div.linelink button {
        width: 40%;
    }
    a.linelink{
        font-size: 95%;
        justify-content: center;
    }

    /* NEWSセクションの調整 */
    div.news-list {
        max-width: 100%;
    }
    .news-item {
        font-size: 75%;
    }
    p.news-name{
        margin-left: 8%;
    }
   

    /* ABOUTセクションを縦並びに */
    .about-content {
        flex-direction: column;
        gap: 10px;
    }

    div.about-info{
        font-size: 60%;
    }

    .about-img img {
        max-width: 100%;
        height: auto;
    }

    /* メニューをスマホ用画像に切り替える */
    img.desktop-image {
        display: none;
    }
    img.mobile-image {
        display: flex;
        margin: auto;
        justify-items: center;
    }

    /* フッターの調整 */
    #footer .info{
        font-size: 60%;
        margin-top: 0.5rem;
    }
}